.page-header {
  align-items: center;
  background-color: #d3840c;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  margin-top: 100px;
}

