nav {
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 2em;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

nav div p {
  margin: 5px;
}

nav div i {
  color: rgb(228, 30, 30);
}

