section.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  
}

form #tweet-text {
  border: none;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  height: 60px;
  margin-bottom: 15px;
  margin-top: 5px;
}


div.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


form button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: white;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.over-limit {
  color: red;
}