section.new-tweet {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  
}

form div.error {
  align-items: center;
  border: 5px solid red;
  color: red;
  display: none;
  font-size: 1.2em;
  height: 55px;
  margin: 10px;
  padding-left: 0.8em;
}

form p.error-message {
  margin: 5px;
}

form #tweet-text {
  background-color: #f4f1ec;
  border: none;
  border-bottom: 5px solid #545149;
  height: 60px;
  margin-bottom: 15px;
  margin-top: 5px;
  outline: none;
  overflow: auto;
  resize: none;
}


div.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


form button {
  background-color: #4056A1;
  color: white;
  font-family: 'Bungee', sans-serif;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.over-limit {
  color: red;
}